<nav>
  <img class="logo" src="assets/images/logotipo.svg">
  <div class="eKontentNav">
    <a href="#">NOSOTROS</a>
    <a href="#">CREADORES</a>
    <a href="#">CLIENTES</a>
  </div>
</nav>

<p style="width:100%; margin-top:0; text-align:center; margin-bottom:0;" class="title-contenido">
  ¿Eres creativo? 
</p>
<p style="width:100%; margin-top:0; text-align:center; margin-bottom:0;" class="title-contenido">
  Forma parte de la comunidad de creadores de eKontent
</p>

<footer>
  <div class="footer-wrapper">
    <div class="ekontent-social">
      <img src="assets/images/facebook.svg">
      <img class="imagen-centro" src="assets/images/twitter.svg">
      <img src="assets/images/linkedin.svg">
    </div>
    <hr>
    <div class="contacto">
      <p>
        Teléfono: 55 55 55 55
      </p>
      <p>
        E-mail: contacto@ekontent.store
      </p>
      <p class="creadores">
        De los creadores de RED Empresarial
      </p>
      <p class="derechos">
        © 2017 Ekontent - Todos los derechos reservados.
      </p>
    </div>
  </div>
</footer>